/* Estilo geral da lista */
.list-view {
    -fx-background-color: #e8e8e8; /* Fundo igual ao da janela */
    -fx-border-color: #333333;
    -fx-border-radius: 5;
}

/* Estilo de cada linha (Célula) */
.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 10;
}

/* QUANDO SELECIONAR: Escurece a linha */
.list-view .list-cell:selected {
    -fx-background-color: #ff0058; /* Um cinza bem escuro quase preto */
    -fx-text-fill: #black;        /* O texto fica rosa neon para destacar */
    -fx-font-weight: bold;         /* Deixa o texto em negrito */
}

/* Efeito opcional: Quando o mouse apenas passa por cima */
.list-view .list-cell:hover {
    -fx-background-color: #bdbdbd;
}

/* TRAVA A COR: Se estiver selecionado E passar o mouse, mantém o rosa */
.list-view .list-cell:selected:hover {
    -fx-background-color: #ff0058; /* Mantém a mesma cor da seleção */
}